.counties {
    fill: none;
}

.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.q0-9 { fill:rgb(255,255,255); }
.q1-9 { fill:rgb(231,231,231); }
.q2-9 { fill:rgb(209,209,209); }
.q3-9 { fill:rgb(187,187,187); }
.q4-9 { fill:rgb(165,165,165); }
.q5-9 { fill:rgb(143,143,143); }
.q6-9 { fill:rgb(121,121,121); }
.q7-9 { fill:rgb(99,99,99); }
.q8-9 { fill:rgb(77,77,77); }
.q9-9 { fill:rgb(0,0,0);}