.counties {
    fill: none;
}

.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.q0-9 { fill:rgb(255,155,255); }
.q1-9 { fill:rgb(233,133,230); }
.q2-9 { fill:rgb(211,111,205); }
.q3-9 { fill:rgb(189,89,170); }
.q4-9 { fill:rgb(167,67,155); }
.q5-9 { fill:rgb(145,45,130); }
.q6-9 { fill:rgb(123,23,105); }
.q7-9 { fill:rgb(101,1,70); }
.q8-9 { fill:rgb(79,0,55); }
.q9-9 { fill:rgb(0,0,0);}
