.counties {
    fill: none;
}

.states {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
}

.q0-9 { fill:rgb(255,255,155); }
.q1-9 { fill:rgb(231,231,131); }
.q2-9 { fill:rgb(209,209,109); }
.q3-9 { fill:rgb(187,187,87); }
.q4-9 { fill:rgb(165,165,65); }
.q5-9 { fill:rgb(143,143,43); }
.q6-9 { fill:rgb(121,121,21); }
.q7-9 { fill:rgb(99,99,0); }
.q8-9 { fill:rgb(77,77,0); }
.q9-9 { fill:rgb(0,0,0);}